<form action="/signin" method="POST">
  <label for="username">Username:</label>
  <input
    type="email"
    name="username"
    id="username"
    required
    placeholder="username"
  />
  <label for="password">Password: </label>
  <input
    type="password"
    name="password"
    id="password"
    required
    placeholder="password"
  />
  <button>Log in</button>
</form>
